body {
	background: #b4dafb;
}
.wrapper {
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f4cbcb;
	padding: 50px;
	color: #7f92f3;
	text-align: center;
	box-shadow: #6f82de 0px 0px 10px;
	border-radius: 45px;
}
.wrapper h2 {
	text-transform: uppercase;
	font-family: Arial;
	margin-bottom: 10%;
}
input[type="text"] {
	height: 40px;
	width: 100px;

}
input[type="text"] {
	font-size: 24px;
	font-family: Arial;
}
button {
	background: #efba83;
	border: none;
	color: #856ddf;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: Arial;
	letter-spacing: 2px;
	font-weight: bold;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
b {
	font-size: 20px;
}
